#slider1 { 
    max-width: 1200px;
    margin: auto;
    overflow: hidden; 
    padding: 0 0 10px; 
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:stretch;
    /*border: 1px green solid;*/
}
#slider1 .viewport { 
    
    width: 1600px; 
    height: 430px; 
    overflow: hidden; 
    position: relative; 
    
}
#slider1 .buttons {
    background-color: yellow;
    display: block;
    margin: 0 0 0 0;
    width: 50px;
    height: 50px;
    position: absolute;
    color: black;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    font-size: 25px;
    border: 1px black solid;
}
#slider1 .next {
    margin: 200px -150px 0 10px;
}
#slider1 .prev{
    margin: 200px 150px 0 150px;
}

#slider1 .buttons:hover {
    color: #C01313;
    background: #fff;
}
#slider1 .disable { 
    visibility: hidden; 
}
#slider1 .overview { 
    list-style: none; 
    position: absolute; 
    padding: 0; 
    margin: 0; 
    width: 240px; 
    left: 0; 
    top: 0; 
    display:flex; 
    justify-content: space-evenly;
    align-items: center;
    
}
#slider1 .overview li { 
    margin: 0 20px 0 0; 
    padding: 10px; 
    width: 300px; 
    height: 400px; 
    border: 1px solid #dcdcdc; 
    background-color: white;
    box-shadow: 0px 0px 10px #e5e5e5;
    border: 1px blue solid;
    }
#slider1 .overview li img{
    object-fit: cover;
    width: 300px;
}
h1{
    font-size: 30px;
}

h2{
    text-align: center;
    align-items: center;
    font-size: 15px;
}

li p{
    text-align: center;
}
/*.btn_vermas{
    padding:10px 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    display:inline-block;
}*/




.contenedor_flechas{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 430px; 
    /*border: yellow solid;*/
    text-decoration: none;

}
.contenedor_flechas article{
    height: 300px;
    /*border: 1px blue solid;*/
    text-align: center;
}
article h3{
    text-decoration: none;
    color: blue;
}

@media screen and (max-width:768px){
    #slider1 .viewport { 
        width: 670px;
    }
    #slider1 { 
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
    }
    .contenedor_flechas{
        height:auto;
        margin-bottom:20px;
    }
}
 @media screen and (max-width:480px){
    #slider1 .viewport { 
        width:290px;
    }
    #slider1 .overview li { 
        width: 265px; 
        }
    #slider1 .overview li img{
        width: 265px;
    }
 }